<form>
  <label for="username">Username</label><br>
  <input type="text" id="username" name="username"><br>

  <label for="firstname">First Name</label><br>
  <input type="text" id="firstname" name="firstname"><br>

  <label for="lastname">Last Name</label><br>
  <input type="text" id="lastname" name="lastname"><br>

  <label for="email">Email</label><br>
  <input type="email" id="email" name="email"><br>

  <label for="birthdate">Birth Date</label><br>
  <input type="date" min='1899-01-01' max='2022-05-30' id="datepicker" name="birthdate"><br>

  <label for="basicsalary">Basic Salary</label><br>
  <input type="number" id="basicsalary" name="basicsalary"><br>

  <label for="status">Status</label><br>
  <input type="text" id="status" name="status"><br>

  <label for="group">Group</label><br>
  <select id="group" name="group">
      <option value="group 1">Group 1</option>
      <option value="group 2">Group 2</option>  
      <option value="group 3">Group 3</option>
      <option value="group 4">Group 4</option>
      <option value="group 5">Group 5</option>
      <option value="group 6">Group 6</option>
      <option value="group 7">Group 7</option>
      <option value="group 8">Group 8</option>
      <option value="group 9">Group 9</option>
      <option value="group 10">Group 10</option>
  </select><br>

  <label for="description">Description</label><br>
  <input type="datetime" id="description" name="description"><br>

  <input type="submit" value="Submit">
</form>